# Data Cleaning and Preparation

## 1. Handling Missing Data

In [9]:
import pandas as pd
import numpy as np

Pandas use **NaN**(Not A Number) to represent missing data, which we call a sentinel value

### 1.1 Filtering Out Missing Data

>dropna

Series:  
Return with non-null data and index

In [10]:
data = pd.Series([1, np.nan, 3])

In [27]:
data.dropna()
#data[data.notnull()]

     0    1    2
0  1.0  2.0  3.0

DataFrame:  
**dropna** by default drops any row containing a missing value.

In [16]:
data = pd.DataFrame([[1,2,3], [1,np.nan,np.nan], [np.nan,np.nan,np.nan], [np.nan,6,5]])

In [17]:
cleaned = data.dropna()

In [18]:
cleaned

     0    1    2
0  1.0  2.0  3.0

>dropna(how='all')

This will only drop rows that are **all NA**

In [19]:
data.dropna(how='all')

     0    1    2
0  1.0  2.0  3.0
1  1.0  NaN  NaN
3  NaN  6.0  5.0

>dropna(axis=1)

Drop columns

In [21]:
data.dropna(axis=1)
#in this case, all the columns. oops

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

>dropna(thresh=2)

Keep only rows containing **a certain number** of observations

In [26]:
data.dropna(thresh=2)
#keep rows that at least contain 2 observations

     0    1    2
0  1.0  2.0  3.0
3  NaN  6.0  5.0