# Arithmetic

In [3]:
import pandas as pd
import numpy as np

## Arithmetic and Data Alignment

**Adding** together objects: similar to automatic outer join on the index labels in database  
In the case of **Series**:

In [4]:
s1 = pd.Series([1,2,3,4], index  = ['a','b','c','d'])
s2 = pd.Series([1,3,5,6,7], index = ['a','c','e','d','f'])

In [5]:
s1

a    1
b    2
c    3
d    4
dtype: int64

In [6]:
s2

a    1
c    3
e    5
d    6
f    7
dtype: int64

In [8]:
s1 + s2

a     2.0
b     NaN
c     6.0
d    10.0
e     NaN
f     NaN
dtype: float64


Introduce **missing values NaN** in the label locations that don't overlap, and it will propagate in further aruthmetic

In the case of **DataFrame**, its the same as in Series

In [14]:
df1 = pd.DataFrame({'A':[1,2]})
df2 = pd.DataFrame({'B':[3,4]})

In [15]:
df1

   A
0  1
1  2

In [16]:
df2

   B
0  3
1  4

In [17]:
df1 + df2

    A   B
0 NaN NaN
1 NaN NaN

If there's no common labels, the results will cotain **all nulls**